.news {
  display: block;
  padding: 60px 0;

  @include max-w($md) {
    padding: 30px 0;
  }

  &__title {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid $yellow-100;

    &::before {
      content: none;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    margin: 0 12px 30px;

    @include max-w($md) {
      margin: 0 4px 15px;
    }

    @include max-w($sm) {
      margin: 0 0 20px;
    }
  }
}